*{margin:0;padding:0;list-style-type:none;}
body {
    font: 12px/180% Arial, Helvetica, sans-serif, "微软雅黑";
	margin: 60px auto;
	width: 100%;
}
div.outer {
    margin: 10px auto;
    padding:10px;
}
div.navbox {
    width:150px;
    float:left;
    padding:5px;
}
div.content {
    overflow: auto;
    padding:30px 10px 10px 30px;
}
div.brief {
    overflow: hidden;
}
ul.nav{
    padding:20px 0 30px 0;
    background:url() no-repeat;
}
ul.nav li.main {
    margin:5px 0 0 0;
    background:#cbcbcb url() no-repeat;
    color:#174867;
    padding:5px 10px 5px 10px;
    display:block;
    text-decoration:none;
}
ul.nav li.sub {
    padding:5px 10px 5px 20px;
}
ul.nav li a {
    -webkit-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
}
ul.nav li a:hover {
    background:#ebebeb url() no-repeat;
    color:#67a5cd;
    padding:5px 10px 5px 10px;
}
footer ul {
	font-family:'Helvetica', 'Arial','Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
footer ul li {
	display: inline;
	margin-right: 20px;
}
a {
	text-decoration: none;
    border: 0;
	color: #999
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 3em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
    clear: both
}
ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}
ul.posts li {
	list-style: none
}
table {
    width: 100%;
    clear: both;
    border: 1px solid #dedede;
	font-size: 1.4em;
    border-collapse: collapse;
    empty-cells: show;
}
tbody {
    -webkit-box;
    width: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
table td {
    height: 35px;
    border: 1px solid #dedede;
    padding: 0 10px;
}
table th {
    height: 40px;
    font-weight: bold;
    text-align: center !important;
    background: rgba(158, 188, 226, 0.2)
}
table tr:hover {
    background: #efefef;
}
table tbody td:nth-last-child(8) {
    width: 15%
}
table tbody td:nth-last-child(7) {
    width: 15%
}
table tbody td:nth-last-child(6) {
    width: 15%
}
table tbody td:nth-last-child(5) {
    width: 15%
}
table tbody td:nth-last-child(4) {
    width: 10%
}
table tbody td:nth-last-child(3) {
    width: 10%
}
table tbody td:nth-last-child(2) {
    width: 10%
}
table tbody td:nth-last-child(1) {
    width: 10%
}
