*{margin:0;padding:0;list-style-type:none;}
body {
    font: 12px/180% Arial, Helvetica, sans-serif, "微软雅黑";
	margin: 60px auto;
	width: 70%;
}
div.outer {
    position:relative;
    overflow: hidden;
    margin: 10px auto;
    padding:10px;
}
div.inner {
    /*width:960px;*/
    position:relative;
    right:300px;
    padding:10px;
}
div.navbox {
    width:150px;
    float:left;
    position:relative;
    padding:5px;
}
div.content {
    float:left;
    position:relative;
    left:5px;
    padding-top:30px;
    padding:10px;
}
div.article {
    position:relative;
    overflow: hidden;
    padding:15px;
}
div.brief {
    position:relative;
}
ul.nav{width:200px;padding:30px 0 30px 0;background:url() no-repeat;}
ul.nav li{margin:5px 0 0 0;}
ul.nav li a{
  background:#cbcbcb url() no-repeat;color:#174867;padding:7px 15px 7px 15px;width:100px;display:block;text-decoration:none;
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  -webkit-box-shadow:2px 2px 4px #888;
  -moz-box-shadow:2px 2px 4px #888;
  -o-box-shadow:2px 2px 4px #888;
}
ul.nav li a:hover{background:#ebebeb url() no-repeat;color:#67a5cd;padding:7px 15px 7px 30px;}
footer ul {
	font-family:'Helvetica', 'Arial','Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}
footer ul li {
	display: inline;
	margin-right: 20px;
}
a {
	text-decoration: none;
    border: 0;
	color: #999
}
a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 3em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}
footer {
	border-top: 1px solid #d5d5d5;
	font-size: .8em;
}
ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}
ul.posts li {
	list-style: none
}
