<!DOCTYPE html>
<html>
  <head>
    <title>记录点滴</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="outer">
        <div class="navbox">
          {% for category in site.categories %}
          <ul class="nav">
            {% assign mainCategory = {{category.first}} | split: '/' | first %}
            {% assign subCategory = {{category.first}} | split: '/' | last %}
            {% if mainCategory == category.first %}
            <li class="main"><a href="{{site.baseurl}}/category/{{category.first}}.html">{{category.first}}({{category.last.size}})</a></li>
            {% else %}
            <li class="main">{{mainCategory}}
              <ul>
                {% if mainCategory == "投资" %}
                <li class="sub">
                  <a href="{{site.baseurl}}/category/曲线.html">收益率</a>
                </li>
                {% endif %}
                <li class="sub">
                <a href="{{site.baseurl}}/category/{{subCategory}}.html">{{subCategory}}({{category.last.size}})</a>
                </li>
              </ul>
            </li>
            {% endif %}
          </ul>
          {% endfor %}
        </div>

        <div class="content">
          {{ content }}
        </div>
    </div>

    <footer>
      <ul>
        <li><a href="mailto:ediedone@126.com">email</a></li>
        <li><a href="https://github.com/ediedone">github.com/ediedone</a></li>
      </ul>
    </footer>
  </body>
</html>
