<!DOCTYPE html>
<html>
  <head>
    <title>记录点滴</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div class="outer">
      <!--div class="inner"-->

        <div class="navbox">
          {% for category in site.categories %}
          <ul class="nav">
            <li><a href="{{ site.baseurl}}/category/{{ category.first }}.html">{{category.first}}（{{category.last.size}}）</a></li>
          </ul>
          {% endfor %}
        </div>

        <div class="content">
          {{ content }}
        </div>

      <!--/div-->
    </div>

    <footer>
      <ul>
        <li><a href="mailto:ediedone@126.com">email</a></li>
        <li><a href="https://github.com/ediedone">github.com/ediedone</a></li>
      </ul>
    </footer>
  </body>
</html>
